In [1]:
import pandas as pd 
import re

In [2]:
import numpy as np

In [3]:
from scipy.stats import pearsonr, chi2_contingency

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [6]:
# movies csv to movies dataframe with pandas
def csv_to_dataframe(csv):
    read_csv = pd.read_csv(csv)
    df_csv = pd.DataFrame(read_csv)
    return df_csv

In [7]:
# ratings csv to ratings dataframe
movies_df = csv_to_dataframe("movies.csv")
ratings_df = csv_to_dataframe("ratings.csv")
ratings_df.head()
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [22]:
# merging ratings and movies dataframe
movie_ratings_merge = pd.merge(movies_df, ratings_df, on="movieId")



# renaming some columns to read and write it better
movie_ratings_merge.head()

movie_ratings_merge.rename(columns={
    "movieId": "movie_id",
    "userId": "user_id"
}, inplace=True)

movie_ratings_merge.head()
movie_ratings_merge["title"].unique().size

#using class to return list or array if we need it.
class List_into_array:
    def __init__(self, lst):
        self.lst = lst
        self.array = np.array(lst)

# getting years from the titles column and makeing them integers.
def year_str_int(title_lst):
    years_lst = []
    for titles in title_lst:
        split_titles = titles.split(" ")
        titles_pop = split_titles.pop()
        striped_years = titles_pop.strip("()")
        if striped_years.isdigit() and len(striped_years) == 4:
            years_lst.append(int(striped_years))
        else:
            years_lst.append(0)
    return years_lst


# making our list into an array with List_into_array class        
# year_lst_array = List_into_array(years_lst)

# this function will get rid of all the years at the end an then just return the titles
def titles(titles_lst):
    new_lst = []
    for movie in titles_lst:
        split_movie_str = movie.split(" ")
        if len(split_movie_str) > 1:
            split_movie_str.pop()
            movie_str_joined = " ".join(split_movie_str).strip()
            new_lst.append(movie_str_joined)
        else:
            movie_str_joined_not_pop = " ".join(split_movie_str).strip()
            new_lst.append(movie_str_joined_not_pop)
    return new_lst




# using titles function to get the titles only
# using titles_lst to make it int an array

# years
years_lst = year_str_int(movie_ratings_merge["title"])
year_array = List_into_array(years_lst)
# titles
titles_lst = titles(movie_ratings_merge["title"])
titles_lst_array = List_into_array(titles_lst)

print(len(titles_lst))
# adding years column and replacing titles column on our dataframe 
movie_ratings_merge["title"] = titles_lst_array.array
movie_ratings_merge["year"] = year_array.array
movie_ratings_merge.head()

100836

,movie_id,title,genres,user_id,rating,timestamp,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,1995
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,1995
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,1995
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,1995
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,1995

In [23]:
# getting rid of columns we dont need 

# we will get rid of timestamp column it will give us nothing new its 
movie_ratings_merge.drop("timestamp", inplace=True, axis=1)

In [24]:

# looking at the unique numbers of each
titles_unique = len(movie_ratings_merge["title"].unique())
titles_total = len(movie_ratings_merge["title"])
user_id_unique = len(movie_ratings_merge["user_id"].unique())

print(f"There is a total of {titles_total} rows in this dataset. With {titles_unique} unique movie titles rated by {user_id_unique} users from a scale of 1-10.")

There is a total of 100836 rows in this dataset. With 9446 unique movie titles rated by 610 users from a scale of 1-10.