In [15]:
import pandas as pd 
import re

In [16]:
import numpy as np

In [17]:
from scipy.stats import pearsonr, chi2_contingency

In [18]:
import matplotlib.pyplot as plt

In [19]:
import seaborn as sns

In [20]:
# movies csv to movies dataframe with pandas
def csv_to_dataframe(csv):
    read_csv = pd.read_csv(csv)
    df_csv = pd.DataFrame(read_csv)
    return df_csv

In [21]:
# ratings csv to ratings dataframe
movies_df = csv_to_dataframe("movies.csv")
ratings_df = csv_to_dataframe("ratings.csv")
print(len(movies_df))
movies_df.head()
ratings_df.head()

9742

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [22]:
# merging ratings and movies dataframe
movie_ratings_df = pd.merge(movies_df, ratings_df, on="movieId")



# renaming some columns to read and write it better
movie_ratings_df.head()

movie_ratings_df.rename(columns={
    "movieId": "movie_id",
    "userId": "user_id"
}, inplace=True)

#using class to return list or array if we need it.
class List_into_array:
    def __init__(self, lst):
        self.lst = lst
        self.array = np.array(lst)

# getting years from the titles column and makeing them integers.
def year_str_int(title_lst):
    years_lst = []
    for titles in title_lst:
        split_titles = titles.split(" ")
        titles_pop = split_titles.pop()
        striped_years = titles_pop.strip("()")
        if striped_years.isdigit() and len(striped_years) == 4:
            years_lst.append(int(striped_years))
        else:
            years_lst.append(0)
    return years_lst


# making our list into an array with List_into_array class        
# year_lst_array = List_into_array(years_lst)

# this function will get rid of all the years at the end an then just return the titles
def titles(titles_lst):
    new_lst = []
    for movie in titles_lst:
        split_movie_str = movie.split(" ")
        if len(split_movie_str) > 1:
            split_movie_str.pop()
            movie_str_joined = " ".join(split_movie_str).strip()
            new_lst.append(movie_str_joined)
        else:
            movie_str_joined_not_pop = " ".join(split_movie_str).strip()
            new_lst.append(movie_str_joined_not_pop)
    return new_lst




# using titles function to get the titles only
# using titles_lst to make it int an array

# years
years_lst = year_str_int(movie_ratings_df["title"])
year_array = List_into_array(years_lst)
# titles
titles_lst = titles(movie_ratings_df["title"])
titles_lst_array = List_into_array(titles_lst)

print(len(titles_lst))
# adding years column and replacing titles column on our dataframe 
movie_ratings_df["title"] = titles_lst_array.array
movie_ratings_df["year"] = year_array.array

100836

In [23]:
# getting rid of columns we dont need 

# we will get rid of timestamp column it will give us nothing new its 
movie_ratings_df.drop("timestamp", inplace=True, axis=1)

In [24]:

# looking at the unique numbers of each
titles_unique = len(movie_ratings_df["title"].unique())
titles_total = len(movie_ratings_df["title"])
user_id_unique = len(movie_ratings_df["user_id"].unique())

print(f"There is a total of {titles_total} rows in this dataset and {titles_unique} unique movie titles rated by {user_id_unique} users from a scale of 1-5.")

There is a total of 100836 rows in this dataset and 9446 unique movie titles rated by 610 users from a scale of 1-5.

In [25]:

movie_ratings_df.describe()

# count of all users and their rating
movie_ratings_by_title = movie_ratings_df["rating"].value_counts().sort_values()

print("The most common rating was 4.0 in our movie dataset.")

# what is the average amount of titles that each user rated

user_mean_ratings = movie_ratings_df["user_id"].value_counts()

print(f"Each user rated an avearge of {round(user_mean_ratings.mean(), 2)} titles.")

The most common rating was 4.0 in our movie dataset.
Each user rated an avearge of 165.3 titles.

In [26]:
# count of all 5 star moives in our dataset
five_star_movies_count = movie_ratings_df["rating"].apply(lambda x: x == 5).sum()

# top 5 movies based on how many users rated the movies 5 stars

top_5_movies = movie_ratings_df[["title", "rating"]].value_counts().sort_values(ascending=False)[:5]

# top 5 years with most 5 star movies

movie_by_year_5_stars = movie_ratings_df[(movie_ratings_df["rating"] == 5) & (movie_ratings_df["year"] > 0)]

top_rated_genre = movie_by_year_5_stars["genres"].value_counts().sort_values(ascending=False)[:5]

In [27]:
# making dataset to csv to visualize.

movie_ratings_df.to_csv("popular_movies_python.csv", index=False)